* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
main {
  width: 21%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  margin-bottom: 20px;
}
.confetti {
  max-width: 780px;
  margin: 0 auto;
  border: 1px solid #ddd;
  user-select: none;
  visibility: hidden;
  border: none;
  position: absolute;
}
#game-status {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background-color: #ebd7ba;
}
.cell {
  background-color: #12213a;
  color: #06c0b2;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 10px 15px;
  background-color: #f7e4ab;
  border: 2px solid #d86c23;
  color: #658fdd;
}
